{% extends 'base.html.twig' %}

{% block title %}Hello ShopController!{% endblock %}

{% block body %}
    <section class="row product">
        <article class="col-md-6 mx-auto text-center border border-dark mb-3 p-3 mt-3 mr-1" >
            {# <div class="content">{{ produits.image }}</div> #}
            <h4>{{ produits.nom }}</h4>
            <div class="metadata">
            {{  produits.prix}}
            </div>
        </article>
    </section>
{% endblock %}
